# Python
__pycache__/
*.py[cod]
*.class
.env
.venv
env/
venv/
ENV/
.pytest_cache/

# Android
.gradle/
build/
app/build/
*.iml
.idea/
local.properties
.DS_Store

# Alembic
alembic/versions/*
!alembic/versions/.gitkeep
